@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/rwn2mau.css");

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: black;
	background: linear-gradient(
		180deg,
		rgba(56, 42, 78, 1) 0%,
		rgba(116, 76, 83, 1) 33%,
		rgba(2, 12, 28, 1) 100%
	);
	background-repeat: no-repeat;
	background-size: 300%;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
