@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/rwn2mau.css");

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: black;
	background: linear-gradient(
		180deg,
		rgba(56, 42, 78, 1) 0%,
		rgba(116, 76, 83, 1) 33%,
		rgba(2, 12, 28, 1) 100%
	);
	background-repeat: no-repeat;
	background-size: 300%;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer components {
	.label {
		@apply block mb-2 text-sm font-medium text-gray-50 dark:text-white;
	}
	.input {
		@apply bg-gray-50 border border-gray-300 text-gray-50 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
	}
	.button {
		@apply text-white bg-main-orange hover:bg-orange-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-main-orange dark:hover:hover:bg-orange-200 dark:focus:ring-blue-800 cursor-pointer;
	}
}
